#heading{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
}

.logo{
    width: 6rem;
}

.heading-links{
    display: flex;
    gap: 0.5rem;
}

.heading-links a{
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.heading-links a:hover{
    color: #333333;
    transition: color 0.3s ease;
}

.restaurant-container {
    padding: 0px;
    list-style: none;
    margin-block-end: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 16px;
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    cursor: pointer;
    gap: 12px;
    justify-content: stretch;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: whitesmoke;
}

.restaurant-card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}